.mainview {
  min-height: 90vh;
  margin-top: 0px !important;
}

.team1background {
  background-color: lightcoral;
}
.team2background {
  background-color: lightgreen;
}

.bordered {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.line-through {
  text-decoration: line-through;
}

.line-under {
  text-decoration: underline;
}