<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Family Feud</title>
  <style>
  .team1background{
    background-color: lightcoral;
  }
  .team2background{
    background-color: lightgreen;
  }
  </style>
  {% render_bundle 'frontend' 'css' %}
</head>
<body>
  <game-content 
  role = '{{role}}' 
  {% if teamnumber %}team = {{teamnumber}}{% endif %} 
  {% if gameid %}gameid = '{{gameid}}'{% endif %}
  />
  {% render_bundle 'frontend' 'js' %}
</body>
</html>